<html>
    <head>
        <title>Weather Information</title>
    </head>
    <body>
        <div id="container">
            <h1>Enter a City!!!</h1>
            <h3>Enter the city's full name!!!</h3>
            <form action="/" method="POST">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" required>
                <button type="submit">Get Weather</button>
            </form>
        </div>
        
        
       
    </body>
</html>